<?xml version="1.0" encoding="UTF-8"?>

<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%l--[%d{yyyy-MM-dd HH:mm:ss}] %-5level %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.netflix" level="warn" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="org.apache" level="warn" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="org.hibernate" level="warn" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="org.jboss" level="warn" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="org.springframework" level="warn" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>

        <Root level="debug">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>
